
/*
    Código adaptado do original disponível em http://www.freeliquidtemplates.com/
*/

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}
body {
    max-width: 1600px;
    margin: 0 auto;
    font-family: Trebuchet MS, Lucida Grande, freesans , Arial, verdana, tahoma , serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    color: #333333;
    background: #ffffff;
}
h1 , h2 {
    font-weight: lighter
}

header {
    width: 90%;
    float: left;
    padding: .5% 5%;
    background: #2e2e2e
}

header h1 {
    font-size: 30px;
    float: left;
    color: #fefefe;
    text-shadow: none
}

header p a{
    padding-top: 5px;
    float:right;
    color: #ffffff;
}

header p a:hover{
    color: goldenrod;
}

.slogan {
    font-size: 24px;
    font-style: oblique;
    color: goldenrod;
    text-shadow: none;
}

nav {
    width: 90%;
    background: #2e2e2e;
    padding: 0 0;
    float: left;
    margin: 1% 5% 
}

.hnavbar{
    list-style:none;
    margin-bottom: 0;
    float:left;
    position:relative;
    z-index:5;
}

.hnavbar li{
    float:left;
    margin-right:10px;
    margin-bottom: 0px;
    position:relative;
}

.hnavbar a{
    display:block;
    padding:5px;
    color:#fffffe;
    border: solid #00000e 1px;
    text-decoration:none;
}

.hnavbar a:hover{
    text-decoration:none;    
    border: solid #0e0e0e 1px;
    color: goldenrod;
}

.hnavbar ul{
    list-style:none;
    position:absolute;
    left:-9999px;
}

.hnavbar ul li{
    padding-top: 0px;
    float:none;
    width: 150%
}

.hnavbar ul a{
    white-space:nowrap;
}

.hnavbar li:hover ul{
    left:0;
}

.hnavbar li:hover a{ 
    background:#2e2e2e;
    text-decoration:none;
    color: goldenrod;
}

.hnavbar li:hover ul a{ 
    text-decoration:none;
}
.hnavbar li:hover ul li a:hover{
    background:#696969;
}
.main {
    width: 80%;
    padding: 0 10%;
    float: left;
}

#conteudo{
    width:90%;
    margin: auto;
}

.tabela{
    width: 46%;
    float:left;
    border:1px solid #000000;
    margin:1%;
}

.tabela .tituloTabela{
    width: 100%;
    text-align: center;
    background: #2e2e2e;
    color: #fefefe;
    font-weight: bold;
}

.tabela .conteudoTabela{
    width: 100%;
    height: 310px;    
    overflow:auto;
}

.tabela .coluna1{
    width:15%;
    text-align: left;
    padding-right: 10px;
}

.tabela .tituloTabela .coluna11{
    width:30%;
    padding-right: 10px;
    text-align: center;
}

.tabela .coluna11{
    text-align: left;
    width:30%
}

.tabela .coluna2{
    width:15%;
}

.tabela .coluna3{
    width:15%;
}

.tabela .coluna4{
    width:55%;
}

.tabela .conteudoTabela .coluna4{
    width:55%;
    text-align: left;
}

.tabela .conteudoTabela .coluna41{
    width:40%;
    text-align: left;
}

.tabela .tituloTabela .coluna1, .coluna4{
    text-align: center;
}

#cinza{
    background: gainsboro;
}

table tr td{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px; 
    
}

#rodape {
    width: 100%;
    float: left;
    background: #2e2e2e
}

#rodape p {
    display:none;
    text-align : center;
    padding: 2% 0;
} 

#rodape a:hover{
    color: goldenrod;
}

footer p a , footer p a:visited {
    color: #c0c0c0
}

@media all and (max-width:1280px){
    body {
        font-size:18px
    }
    
    table tr td{
        font-size: 14px;  
    }
}

@media all and (max-width:1024px) {
    table tr td{
        font-size: 12px;  
    }
}

@media all and (max-width:870px) {
    .tabela{
        width:60%;
        margin-top:30px;
        margin-left: 20%;
    }
}

@media all and (max-width:768px) {    
    body {
        font-size: 16px;
    }
    
    header h1 {
        font-size: 22px
    }
    
    .slogan {
        font-size: 18px
    }
}

@media all and (max-width:720px) {
    .tabela{
        width:60%;
        margin-top:30px;
        margin-left: 20%;
    }
    
}


@media all and (max-width: 480px) {
    header{        
        width: 90% !important;
        padding:10px 5% !important;;
        display: block !important;
    } 
    
    nav , .hnavbar , 
    .hnavbar li ul{
        width: 90% !important;
        display: block !important;
        padding:0 5% !important;
        margin: 0 auto !important;
        background: #2e2e2e;
    }
    
    .tabela{
        display:none;
    }
        
    #rodape p {
        width: 90% !important;
        display: block !important;
        margin: 20px auto 0 auto !important;
        background: #2e2e2e;
    }
    
    #rodape p a{
        color: #ffffff;
    }
    
    header h1 {
        float: none;
        font-size:18px;
        text-align: center
    }
    
    header p{
        display:none;
    }
    
    .slogan {
        font-size:18px;
    }
    
    .main h1 , .main h2 , .right h2 {
        font-size: 18px
    }
    
    .hnavbar li , .hnavbar li ul li {
        width: 100%;
        text-align: center;
        margin: 0 0;
    }
    
    .hnavbar li a {
        padding: 5% 0;
    }
    .hnavbar li ul {
        z-index: 10
    }
}