
/* 
    Código adaptado do original disponível em http://www.freeliquidtemplates.com/
    Autor: Walter Luiz de Camargo
*/

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

body {
    max-width: 1600px;
    min-height: 480px;
    margin: 0 auto;
    font-family: Trebuchet MS, Lucida Grande, freesans , Arial, verdana, tahoma , sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    color: #333333;
    background:#2e2e2e;
    background: #ffffff;
}

h1 , h2 {
    padding: .5% 5%;
    font-weight: lighter;
}

header {
    width: 90%;
    float: left;
    padding: .5% 5%;
    background: #2e2e2e
}

header h1 {
    font-size: 24px;
    color: #fefefe;
}

.slogan {
    font-size: 30px;
    font-style: oblique;
    color: goldenrod;
}

nav {
    width: 90%;
    background: #2e2e2e;
    padding: 0 0;
    float: left;
    margin: 1% 5% 
}

.hnavbar{
    list-style:none;
}

.hnavbar li{
    position:relative;
}

.hnavbar a{
    display:block;
    padding:5px;
    color:#fffffe;
    border: solid #00000e 1px;
    text-decoration:none;
}

.hnavbar ul{
    list-style:none;
    position:absolute;
    left:-9999px;
}

.hnavbar ul li{
    width: 150%;    
}

.hnavbar li:hover ul{left:0;}

.hnavbar li:hover a{ 
    background:#2e3e2e;
    text-decoration:none;
}

.hnavbar li:hover ul li a:hover{background:#696969;}

/* 
 * Ajustes conforme o tamanho da tela
 */

@media all and (max-width:1024px) {
    .main h1 {font-size:24px}
    .main h2 , .right h2 {font-size:20px}
}

@media all and (max-width:768px) {
    body {font-size: 16px;}
    header h1 {font-size: 22px}
    .slogan {font-size: 18px}
    .main h1 {font-size:22px}
    .main h2  {font-size:18px}
}

@media all and (max-width:720px) {
    .main h1 {font-size:20px}
}

@media all and (max-width: 480px) {
    .main {display: none}
    header ,  nav , .hnavbar , .hnavbar li ul{
        width: 90% !important;
        display: block !important;
        padding:0 5% !important;
        margin: 0 auto !important;
    }
    header h1 {
        float: none;
        font-size:18px;
        text-align: center
    }
    .slogan {font-size:18px;}
    .main h1 , .main h2 , .right h2 {font-size: 18px}
    .hnavbar li , .hnavbar li ul li {
        width: 100%;
        text-align: center;
        margin: 0 0;
    }
    .hnavbar li a {padding: 5% 0;}
    .hnavbar li ul {z-index: 10}
}